<nav class="navbar navbar-light navbar-expand-md fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">inTheBand&nbsp;
            <i class="fa fa-circle-o-notch" style="font-size:18px;"></i>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1" style="font-size:13px;font-family:Montserrat, sans-serif;color:rgb(255,255,255);">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" href="#" id="create-event" style="background-color:rgba(255,255,255,0.54);">Create an Event</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#" id="login-link" style="background-color:rgba(255,255,255,0.47);">Notifications
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#" id="signup-link" style="color:#5f5f5f;background-color:rgba(255,255,255,0.57);">Sign Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="dash-heading">
    <h1>Upcoming Events</h1>
</section>

<div class="container" id="dash-container">


    <div class="upcoming-events">
        {{#each events}}
        <div id="dash-events-div" class="clickEvent" data-eventId=` {{eventfulID}}`>
            <div class="row">
                <div class="col" id="dash-events-title">
                    {{title}}
                </div>
            </div>
            <div class="row">
                <div class="col">{{date}}</div>
                <div class="col">{{venue}}</div>
                <div class="col">{{address}}</div>
            </div>
            <div class="row">
                <div class="col"></div>
            </div>
            {{!--
            <div class="row">description goes here{{description}}</div> --}}
            <div class="row">
                <div class="col" id="col-checkbox">
                    <form action="/action_page.php">
                        <input id="going-checkbox" type="checkbox" name="attending" value="going"> Attending
                        <br>
                    </form>
                </div>
                <div id="map-icon" class="col">
                    <button style="font-size:20px">Map
                        <i class="fa fa-map-marker"></i>
                    </button>
                </div>
                <div id="attend-icon" class="col">

                    {{comments.attending}}

                </div>
            </div>
            <hr>
            <hr>
        </div>
        {{/each}}
    </div>
</div>