<nav class="navbar navbar-light navbar-expand-md fixed-top" id="the-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">inTheBand&nbsp;
      <i class="fa fa-circle-o-notch" style="font-size:18px;"></i>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1" style="font-size:13px;font-family:Montserrat, sans-serif;color:rgb(255,255,255);">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#" id="signup-link" style="color:white;background-color:rgba(255,255,255,0.57);">Sign
            Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" id="dash-container">
  <section>
    <div class="your-events">
      <h1 id="eventname">{{event.title}}</h1>
      <div class="row">

        <div class="col-md-6" id = "mapAddress">

          // aqui va el mapa
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <p id="event-page-p">Venue: {{event.venue}}</p>
            </div>
            <div class="col-md-6">
              <p id="event-page-p">Address: {{event.address}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p id="event-page-p">Date: {{event.date}}</p>
            </div>
            <div class="col-md-6">
              <form id="going-checkbox-form" action="/action_page.php">
                <input id="going-checkbox" type="checkbox" name="attending" value="true"> <p id="going-checkbox-p">Attending</p>
                <br>
              </form>
            </div>
          </div>

        </div>
      </div>
</div>
</section>
<section>
  <div class="container comments-parent">

    <h1 id="comments-headline">Comments:</h1>

    <div class="row" id="comments-div">
      {{#each attending.comments}}
      <div class="col-md-12 comment-handle">
        <h1>
          <i class="fa fa-user-circle-o" id="band-icon" style="font-size:22px;"></i> {{User.handle}}: </h1>
      </div>
      <div class="col-md-12 actual-comment">
        <h2> {{user_comment}} </h2>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<section>
  <div class="row" id="add-comment">
    <div class="col-md-12">
      <form method="POST" action="/api/comment/create">
        <div class="form-group">
          <input class="form-control" id="comment_user" type="name" name="comment" placeholder="Enter comment here...">
        </div>
        <div class="form-group">
          <button class="btn btn-primary  modal-btn-style" id="comment-submit"  data-Id=`{{attending.eventId}}` type="submit">Submit</button>
        </div>

      </form>
    </div>
  </div>
  {{!--
  <div class="row form-group">
    <div class="col">
    </div>
  </div> --}}
</section>
</div>